# app config
APP_NAME=
APP_ENV=development
APP_URL=http://localhost
APP_PORT=2001

# database config
DATABASE=mongodb://localhost:27017/db_name

# JWT Configuration
AUTH_SECRET=auth_secret
AUTH_EXPIRES=3600
AUTH_REFRESH_SECRET=refresh_secret
AUTH_REFRESH_EXPIRES=604800
AUTH_FORGOT_SECRET=forgot_secret
AUTH_FORGOT_EXPIRES=3600
AUTH_CONFIRM_EMAIL_SECRET=confirm_email_secret
AUTH_CONFIRM_EMAIL_EXPIRES=3600
AUTH_COOKIE_EXPIRES=360000
